<h1 class="text-center text-success">Explore History</h1>

<p>
  Art has existed for a very long time even before the beginning of formal education. In the ancient times, it was used to appease the gods, frighten enemies, compel people, and distinguish between various cultures and even served reasons for personal and economic importance. Most of the pieces of art that you see have a personal history behind them, and while the average eye only appreciates the aesthetic of that piece of art, an art student would take time to see the main essence of it. For example, going to the museum without prior knowledge of art or a tour guide might not be very worthwhile. 
</p>
<p>

  This will happen because you might not know how to interpret the works in the galleries or the edifice in the museum. You may also not notice that the paintings and artworks have been adequately arranged to denote a difference in time and therefore to refer the transition in the history of a particular culture or people. All these, however, are not strange to a student who is enrolled in a programme, as most of his assignment and course works would make sure that heinteracts with most of this artwork and give visual and textural interpretations of them. This is important to consider, as this interest you may have could lead you to take art history jobs.
</p>

<p>
Art simply refers to the expression of thoughts, intuitions, desires, and emotions. The course will open your eyes to your surroundings, and every piece of artwork you find will have a story to tell. The several aspects of art talk about history in different ways, and from a play showing the rise of a culture to a piece of architectural masterpiece that holds different puzzles about the past. All these come together in art history to help us understand the happenings of the past without using plain words or simple deductions.
</p>
