<h2 class="text-center">Pieces List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<h3> All pieces:</h3>
<% if (pieces.length > 0) { %>
    <% pieces.forEach( piece => { %>
        <h4><a href="/pieces/<%= piece._id %>"><%= piece.name %> (Origin: <%= piece.originCountry %>)</a></h4>
    <% }) %>
<% } else { %>
    <p>No pieces yet!</p>
<% } %>

