<h2 class="text-center">Pieces List</h2>

<!-- DELETE CODE BELOW THIS LINE -->

<% console.log(pieces) %>
<% pieces.forEach(p => { %>
    <div class="bg-info" id="piecesList">
        >
        <a href="pieces/<%=p._id%>"><%=p.title%></a>
        <div>
            <img src="<%=p.pieceImg%>">
        </div>
    </div>
<% }) %>