<h2 class="text-center">Pieces List</h2>

<!-- DELETE CODE BELOW THIS LINE -->

<h3>For example</h3>

<% if (pieces) {%>
  <% pieces.forEach(piece => { %>
    <p><a href="/pieces/<%= piece._id %>"><%= piece.name %></a></p>
  <%})%>
<% } else { %>
  <p>No peices</p>
<% } %>
