<h2 class="text-center">Pieces List</h2>

<%if(pieces && pieces.length > 0) {%>
	<%pieces.forEach(p => {%>
			<div>
				<a href="/pieces/<%= p.id%>"><%= p.name%></a>
				(<%= p.museum.name%> &mdash; <%= p.museum.city%>)
			</div>
	<%});%>
<%} else {%>
		<h3>No pieces exist</h3>
		<p>
			Add a new piece at the <a href="/pieces/new">Piece Registration Page</a>
		</p>
<%}%>