<h2 class="text-center">Pieces List</h2>

<% pieces.forEach(piece => { %>
	<%	let museumName = "";
		if (piece.museum !== undefined) {
			museumName = piece.museum.name;
		} %>
	<img src="<%=piece.image%>" style="max-width: 256px;" />
	<p><a href="./pieces/<%=piece._id%>"><%=piece.name%></a> (<%=museumName%>)</p>
<% }) %>