
<!-- DELETE CODE BELOW THIS LINE -->
<div class="pieceShow">
    <h2 class="text-center">Art Pieces</h2>
    <% pieces.forEach(function(p) { %>
        <a href="/pieces/<%=p._id%>"><h4><%=p.name%></h4></a>
        <h5><%=p.creator.firstname%> <%=p.creator.lastname%></h5>
    <% }); %>

</div>
