<h2 class="text-center">Pieces List</h2>

<% pieces.forEach(p => { %>
    <div>
        <a href="pieces/<%=p._id%>"><%=p.name%></a>
        <div>
            <img src="<%=p.image%>">
        </div>
    </div>
<% }) %>

