<h2 class="text-center">Pieces List</h2>


<% pieces.forEach(p => { %>
    <h2><%= p.name %></h2>
    <p><a href="/pieces/<%= p.creator.museum %>"><%= p.name %></a> (The Louvre - Paris)</p>
  
<% }) %>