<div class="container">
    <h2 class="text-center">Pieces List</h2>
    <% pieces.forEach(p => { %>
        <p><a href="/pieces/<%=p._id%>"><%=p.name%></a> (<%=p.museum.name%> - <%=p.museum.city%>)</p>
    <% }) %>
</div>


