<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<form class="" action="/pieces" method="post">
  <input type="text" name="name" placeholder="Piece Name">
  <input type="text" name="image" placeholder="Piece image URL">
  <input type="text" name="museum" placeholder="Piece Museum">
  <input type="text" name="firstname" placeholder="Artist firstname">
  <input type="text" name="lastname" placeholder="Artist lastname">
  <input type="number" name="birthyear" placeholder="Artist birthyear">
  <input type="number" name="deathyear" placeholder="Artist deathyear">
  <input type="submit" name="" value="submit">
</form>
