<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<form method="Post" action="/pieces" >
	<input type="text" placeholder="name" name="name">
	<br>
	<input type="text" placeholder="image" name="image">
	<br>
	<input type="text" placeholder="creator firstname" name="creator_firstname">
	<br>
	<input type="text" placeholder="creator lastname" name="creator_lastname">
	<br>
	<input type="text" placeholder="creator image" name="creator_image">
	<br>
	<input type="number" placeholder="creator birthyear" name="creator_birthyear">
	<br>
	<input type="number" placeholder="creator deathyear" name="creator_deathyear">
	<br>
	<select name="museum">
		<% museums.forEach(m => { %>
	  	<option value="<%= m._id %>"><%= m.name %></option>
		<% }) %>
	</select>
	<br>
	<input type="submit" value="Add">
</form>
