<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<form action="/museums/" method="post">
  <input type="text" name="name" value="Museum">
  <input type="text" name="city" value="City">
  <input type="text" name="country" value="Country">
  <input type="text" name="image" value="www.img.src/path.jpg">
  <input type="submit" value="Submit">
</form>
