<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<div class="text-center">
	<form action="/pieces" method="POST">
		<label>Name</label>
			<input type="text" name="name">
		<label>Image</label>
			<input type="text" name="image">
		<label>Country</label>
			<input type="text" name="originCountry">
		<label>Creator first name</label>
			<input type="text" name="firstname">
		<label>Creator last name</label>
			<input type="text" name="lastname">
		<label>Creator picture</label>
			<input type="text" name="image">
		<label>Birth year</label>
			<input type="number" name="birthyear">
		<label>Year died</label>
			<input type="number" name="deathyear">
		<label>Select a museum</label>
		<select>
			<% museums.forEach(m => { %>
				<option><%= m.name %></option>
			<% }) %>
		</select>
		<button>Add it to the list</button>
	</form>
</div>
