<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<form action="/pieces" method="POST">
    <label>Name</label>
    <input type="text" name="name" >
    <br>
    <label>Image</label>
    <input type="text" name="image" >
    <br>
    <label>Creator First Name</label>
    <input type="text" name="creator.firstname" >
    <br>
    <label>Creator Last Name</label>
    <input type="text" name="creator.lastname" >
    <br>
    <label>Creator Image</label>
    <input type="text" name="creator.image" >
    <br>
    <label>Creator Birth Year</label>
    <input type="text" name="creator.birthyear" >
    <br>
    <label>Creator Death Year</label>
    <input type="text" name="creator.deathyear" >
    <br>
    <label>Name of Museum</label>
    <select name="museum">
        <%museums.forEach(m => {%>
            <option value="<%=m._id%>"><%=m.name%></option>
        <% })%>
    </select>
    <input type="submit">

</form>