<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<form action="/pieces" method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name='name'>
    <label for="image">Image</label>
    <input id="image" type="text" name='image'>
    <label for="creator">Creator</label>
    <input id="creator" type="text" name='creator'>
    <label for="museum">museum</label>
    <input id="museum" type="text" name='museum'>
    
    <input type="submit">
</form>