<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->

<form method="POST">
	<input type="text" placeholder="enter name of piece" id="pieceName">Piece Name
	<input type="text" placeholder="enter image url" id="pieceImage">Image URL
	<input type="text" placeholder="enter creator first name" id="creatorFirstName">Creator First Name
	<input type="text" placeholder="enter creator last name" id="creatorLastName">Creator Last Name
	<input type="text" placeholder="enter ceator image url" id="creatorImage">Creator Image URL
	<input type="text" placeholder="enter birth year" id="birthYear">Creator Birth Year
	<input type="text" placeholder="enter death year" id="deathYear">Creator Death Year
	<button type="submit" id="pieceSubmit">SUBMIT</button>
</form>
