<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<form action="/pieces" method="POST" role="form">
	<div class="form-group">
		<label for="name">Piece Name:</label>
		<input type="text" name="name" placeholder="Name of the piece of art goes here" required>
	</div>

	<div class="form-group">
		<label for="image">Piece Image:</label>
		<input type="text" name="image" placeholder="Image url goes here" required>
	</div>

	<div class="form-group">
		<label for="creators">Artist:</label>
	</div>

	<div class="form-group">
		<label for="creators">First Name:</label>
		<input type="text" name="firstName" placeholder="First name here">
	</div>

	<div class="form-group">
		<label for="creators">Last Name:</label>
		<input type="text" name="lastName" placeholder="Last name here">
	</div>

	<div class="form-group">
		<label for="creators">Artist Image:</label>
		<input type="text" name="image" placeholder="Artist image url here">
	</div>

	<div class="form-group">
		<label for="creators">Birthyear:</label>
		<input type="number" name="birthyear" placeholder="birthyear">
	</div>

	<div class="form-group">
		<label for="creators">Deathyear:</label>
		<input type="number" name="deathyear" placeholder="deathyear">
	</div>

	<div class="form-group">
    	<label for="museum">Museum:</label>
    	<select class="form-control" id="museum">
	    	<option>1</option>
     		<option>2</option>
     		<option>3</option>
     		<option>4</option>
     		<option>5</option>
   		</select>
  	</div>
  	<button type="submit" class="btn btn-primary">Add Art Piece to Museum
</form>