<h2 class="text-center text-primary">Add a New Piece</h2>

<!-- TODO: Add a form for making a new piece. Should post to /pieces -->
<div class="container">
    <form method="POST" action="/pieces">
        <h3>Piece info:</h3>
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" name="name" placeholder="Piece name here"/>
        </div>
        <div class="form-group">
            <label for="image">Image URL:</label>
            <input class="form-control" type="text" name="pieceImage" placeholder="Image url here"/>
        </div>
        <div class="form-group">
            <label for="city">Country of Origin:</label>
            <input class="form-control" type="text" name="originCountry" placeholder="Country of origin here"/>
        </div>
        <div class="form-group">
            <label for="museum">Museum:</label>
            <p>If you don't see the museum here, go to <a href="/museums/new">add a new museum</a>.</p>
            <select class="form-control" id="museum" name="museum">
                <% museums.forEach( museum => { %>
                    <option value="<%= museum._id %>"><%= museum.name %></option>
                <% }) %>
            </select>
        </div>
        <h3>Creator info:</h3>
        <div class="form-group">
            <label for="firstname">First name:</label>
            <input class="form-control" type="text" name="firstname" placeholder="Creator first name here"/>
        </div>
        <div class="form-group">
            <label for="lastname">Last name:</label>
            <input class="form-control" type="text" name="lastname" placeholder="Creator last name here"/>
        </div>
        <div class="form-group">
            <label for="image">Creator image url:</label>
            <input class="form-control" type="text" name="creatorImage" placeholder="Image url here"/>
        </div>
        <div class="form-group">
            <label for="birthyear">Birth year:</label>
            <input class="form-control" type="number" name="birthyear" placeholder="Birth Year here"/>
        </div>
        <div class="form-group">
            <label for="deathyear">Death year:</label>
            <input class="form-control" type="number" name="deathyear" placeholder="Death year here"/>
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
    <br>
</div>
