
<h2 class="text-center"><%= piece.name %></h2>
<h3 class="text-center">Current Museum:<%= piece.museum.name %></h3>
<h3 class="text-center">Creator:<%= piece.creator.firstname %><%= piece.creator.lastname%></h3>
