<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->

<a href="/museums/new">ADD A MUSEUM!</a>
<% museums.forEach((m) => { %>
	<h2><a href="/museums/<%= m._id%>"><%= m.name %></a></h2>
	<h6><%= m.city %></h6>
	<h6><%= m.country %></h6>
	<hr>
<% }) %>