<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<h3> All museums:</h3>
<% if (museums.length > 0) { %>
    <% museums.forEach( museum => { %>
        <a href="/museums/show"><%= museum.name %> (<%= museum.city %>, <%= museum.country %>)</a>
    <% }) %>
<% } else { %>
    <p>No museums yet!</p>
<% } %>
