<div class="text-center">
<h2 >Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<% museums.forEach(m => { %>
	<div>
		<a href="/museums/<%= m._id %>"><%= m.name %></a>
    </div>
<%})%>
</div>
