<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<!-- <p>TODO: Add a forEach loop and show the names of all museums</p>
<p>The name should be a link to the museum show page</p> -->
<% museumss.forEach(function(m){%>
  <br><hr><br>
<div>

    <%=m.name%>
    <%=m.cityt%>city
    <%=m.contry%> country
    <%=m.image%> pic
  
