<h2 class="text-center">Museums List</h2>

<ul>
    <% museums.forEach((museum) => { %>
        <li><a href="/museums/<%= museum.id %>"> <%= museum.name %> </a> <p>(<%=museum.city%>, <%= museum.country%> )</p> </li>
    <% }) %>
</ul>