<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->

<% museums.forEach((m) => { %>
    <h3>
        <a href="/museums/<%= m._id %>"><%= m.name %></a><br />

        <%= m.city %>, <%= m.country %>
    </h3><br />
<% }) %>

<% if(museums.length === 0) { %>
<h1>}No Museums!</h1>

<% } %>
