<h2 class="text-center">Museums List</h2>

<% museums.forEach(m => { %>
    <h2> <%= m.name %></h2>
    <p><%= m.city %></p>
    <p><%= m.country %></p>
    <img src= "<%= m.image %>"" alt="museum image">
<% }) %>