<h2 class="text-center">Museums List</h2>

	<% museums.forEach(function(m) {%>
	<div>
		<h4 class="text-center"> <a href="/museums/<%=m.id%>"> <%=m.name%> </a> (<%=m.city%>, <%=m.country%>)</h4>
	</div>

	<%});%> 
