<h2 class="text-center">Museums List</h2>

<% if (museums) { %>
    <% museums.forEach(museum => { %>
      <div>
        <h2><%= museum.name %></h2>
        <p><%= museum.city %></p>
        <p><%= museum.country %></p>
        <img src="<%= museum.image %>" alt="art">
      </div>
    <% }) %>
<% } %>
