<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<h1> Museum List </h1>

<% museums.forEach(museum => { %>
    <h3><a href="/museums/<%=museum.id%>"><%=museum.name%></a></h3>
<% });%>
