<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form action="/museums" method="POST" role="form">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" placeholder="Museum name" name="name" id="name" class="form-control">
	</div>

	<div class="form-group">
		<label for="city">City:</label>
		<input type="text" name="city" placeholder="What city is it in?" id="city" class="form-control">
	</div>

	<div class="form-group">
		<label for="country">Country:</label>
		<input type="text" name="country" placeholder="Which country is it in?" id="country" class="form-control">
	</div>

	<div class="form-group">
		<label for="image">Image:</label>
		<input type="text" name="image" placeholder="Image url goes here" id="image" class="form-control">
	</div>
	<button type="submit" class="btn btn-primary">Register Museum</button>
</form>