<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form method="post" action="/museums">
    <div>
      <lable>Name of Museum</lable>
      <input type="text" name="name" />
    </div>
    <div>
      <label>City</label>
      <input type="text" name="city" />
    </div>
    <div>
      <label>Country</label>
      <input type="text" name="country" />
    </div>
    <div>
      <lable>Image URL</lable>
      <input type="text" name="image" />
    </div>
    <button type="submit">Add</button>
  </form>
