<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form action="/museums/" method="post">
  <input type="text" name="name" value="Museum">
  <input type="text" name="city" value="Museum City">
  <input type="text" name="country" value="Museum Country">
  <input type="text" name="image" value="MuseumImage.png">
  <input type="submit" name="submit" value="submit">
</form>
