<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form action="/museums" method="POST">
  <div class="row">
    <div class="input-field col s12 m3">
    <label for="museum">Museum</label>
    <input type="text" id="museumName" name="museum" class="validate" required>
    </div>
    <div class="input-field col s12 m3">
    <label for="city">City</label>
    <input type="text" id="city" name="city" class="validate" required>
    </div>
    <div class="input-field col s12 m3">
    <label for="country">Country</label>
    <input type="text" id="country" name="country" class="validate" required>
    </div>
    <div class="input-field col s12 m3">
    <label for="image">Image</label>
    <input type="text" id="museumImage" name="image" class="validate" required>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit
</form>
