<h2 class="text-center text-primary">Register a New Museum</h2>

<div>
    <form method='POST' action='/museums'>
        <div>
            <label for="name">Museum Name: </label>
            <input name="name" type="text">
        </div>
        <div>
            <label for="city">City: </label>
            <input name="city" type="text">
        </div>
        <div>
            <label for="country">Country: </label>
            <input name="country" type="text">
        </div>
        <div>
            <label for="museumImg">Museum Image Url: </label>
            <input name="museumImg" type="text">
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
</div>