<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form method="POST" action="/museums">
  <label>New Museum</label> <br />
  <input name="name" type="text" placeholder="Museum Name"> <br />
  <input name="city" type="text" placeholder="Museum City"> <br />
  <input name="country" type="text" placeholder="Museum Country"> <br />
  <input name="image" type="text" placeholder="Museum image url"> <br />
  <input type="submit" name="" value="submit">
</form>
