<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form method="POST" action="/museums">
    <input type="text" name="name" placeholder="Enter Museum Name"><br />
    <input type="text" name="city" placeholder="What City?"><br />
    <input type="text" name="country" placeholder="What Country?"><br />
    <input type="text" name="image" placeholder="Museum Image URL?"><br />
    <input type="submit" value="Add Museum">
</form>