<h2 class="text-center text-primary">Register a New Museum</h2>

<form action="/museums" method="POST">

	<div class="form-group"> <!-- Full Name -->
		<label for="museum_name_id" class="control-label">Name of Museum</label>
		<input type="text" class="form-control" id="museum_name_id" name="name" placeholder="ex. The Louvre">
	</div>	

	<div class="form-group"> <!-- Street 1 -->
		<label for="city_id" class="control-label">City</label>
		<input type="text" class="form-control" id="city_id" name="city" placeholder="ex. Paris">
	</div>					
							
	<div class="form-group"> <!-- Street 2 -->
		<label for="country_id" class="control-label">Country</label>
		<input type="text" class="form-control" id="country_id" name="country" placeholder="ex. France">
	</div>	

	<div class="form-group"> <!-- City-->
		<label for="image_id" class="control-label">Image URL</label>
		<input type="text" class="form-control" id="image_id" name="image" placeholder="ex. www.awesomecoolpicture.com/bestpictureever">
	</div>									
	
	<div class="form-group"> <!-- Submit Button -->
		<button type="submit" class="btn btn-primary">Register!</button>
	</div>     
	
</form>		

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
