<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form class="museum" action="/museums" method="POST">
	<div class="input-field ">
		<input id="name" type="text" name="name" class="form-control" placeholder="Name">
		<label for="name"></label>
	</div>
	<div class="input-field ">
		<input id="city" type="text" name="city" class="form-control" placeholder="City">
		<label for="city"></label>
	</div>
	<div class="input-field ">
		<input id="country" type="text" name="country" class="form-control" placeholder="Country">
		<label for="country"></label>
	</div>
	<div class="input-field ">
		<input id="image" type="text" name="image" class="form-control" placeholder="Image">
		<label for="image"></label>
	</div>
	  <button href="/museums" type="submit" class="btn btn-primary">Submit</button>

</form>