<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form method="Post" action="/museums" >
	<input type="text" placeholder="name" name="name">
	<input type="text" placeholder="city" name="city">
	<input type="text" placeholder="country" name="country">
	<input type="text" placeholder="image" name="image">
	<input type="submit" value="Add">
</form>

