<h2 class="text-center text-primary">Register a New Museum</h2>

<form action="/museums" method="POST">

<label for="name">Name</label>
<input type="text"  id="name" name="name" required>

<label for="city">City</label>
<input type="text"  id="city" name="city" >

<label for="country">Country</label>
<input type="text"  id="country" name="country" >

<label for="country">Museum Picture</label>
<input type="text"  id="pic" name="image" >

<input type="submit" value="Submit">
</form>