<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->

<form method="POST">
	<input type="text" placeholder="enter name of museum" id="museumName">Museum Name
	<input type="text" placeholder="enter city" id="museumCity">City Name
	<input type="text" placeholder="enter country" id="museumCountry">Country Name
	<input type="text" placeholder="enter image url" id="museumImage">Image URL
	<button type="submit" id="museumSubmit">SUBMIT</button>
</form>
