<h2 class="text-center text-primary">Register a New Museum</h2>

<!-- TODO: Add a form for making a new museum. Should post to /museums -->
<form method="POST" action="/museums">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Museum name here"/>
    </div>
    <div>
        <label for="city">City:</label>
        <input type="text" name="city" placeholder="City here"/>
    </div>
    <div>
        <label for="country">Country:</label>
        <input type="text" name="country" placeholder="Country here"/>
    </div>
    <div>
        <label for="imageUrl">Image URL:</label>
        <input type="text" name="imageUrl" placeholder="Image url here"/>
    </div>

    <button type="submit">SUBMIT</button>

</form>