<!-- DELETE CODE BELOW THIS LINE -->
<h2><%= museum.name %></h2>
<h3><%= museum.city %>, <%= museum.country %></h3>
<img src="<%= museum.image %>" width=400>

<hr />

<h3>Pieces at this museum:</h3>

