


<h1><%= foundMuseum.name %></h1>
<h6><%= foundMuseum.city %></h6>
<h6><%= foundMuseum.country %></h6>
<img src="<%= foundMuseum.image %>" style="height: 200px; width: 200px;"/>
<hr>
<h2>PIECES:</h2>